#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer {
  background-color: white;
  color: black;
  padding: 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  background-color: #fff;
  color: black;
  width: 100%;
  box-sizing: border-box
}